* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width:100%;
    height:100vh;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    background-color: rgb(82, 82, 82);
    top: 0;
    left: 0;
    z-index: 100;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    padding: 10px 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 20px 5px;
    transition: all 0.3s;
    text-transform: capitalize;
}

.navbar-links {
    list-style: none;
    gap: 20px;
}

.navbar a:hover {
    color: lightgray;
}

/* Homepage */

.homepage {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("/Travel-Agency/Assets/home-bg.jpg");
    background-position: center;
    background-size: cover;
}

.homepage::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);
}

.homepage .content {
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    height: 85%;
}

.homepage .text {
    color: #fff;
    align-items: center;
}

.homepage .text h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
}

.homepage .text p {
    margin-bottom: 10px;
}

.homepage a {
    background-color: #fff;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, .2);
}

.homepage a:hover {
    background-color: rgba(255, 255, 255, .3);
    color: #fff;
}

/* Services */

.services {
    padding: 40px 0px;
    width:100%;
    background-color: lightgrey;
}

.txt-container {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

.items {
    margin-top: 50px;
    gap: 20px;
    flex-wrap: wrap;
}

.items .item-container {
    width: calc(100% / 3 - 30px);
    padding: 30px 15px;
    text-align: center;
    list-style: none;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}

.items .item-container p {
    font-size: 12px;
}

.item-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
    margin-bottom: 10px;
}

/* Portfolio */

.portfolio {
    padding: 40px 0px;
    width:100%;
    background-color: lightgrey;
}

.txt-container2 {
    flex-direction: column;
}

.txt-container2 p {
    font-size: 13px;
}

.card-container {
    list-style: none;
    text-align: center;
    width: calc(100% / 3 - 30px);
    background-color: white;
    padding: 0px 0px 20px;
    border-radius: 5px 5px 0px 0px;
    margin-top: 25px;
}

.cards {
    flex-wrap: wrap;
    gap: 25px;
}

.card-container img {
    height: 200px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
}

.card-container h3 {
    font-size: 15px;
    margin-top: 15px;
}

.card-container p {
    font-size: 10px;
}

/* About Us */

.about {
    padding: 40px 0px;
    width:100%;
    background-color: lightgrey;
}

.header-sec {
    flex-direction: column;
    padding: 20px 0px;
    justify-content: center;
}

.company-info h4 {
    margin-bottom: 10px;
}

.company-info p {
    line-height: 25px;
    margin-bottom: 25px;
}

.team ul {
    padding: 5px 20px;
}

/* Contact Us */

.contact {
    padding: 40px 0px;
    width:100%;
    background-color: lightgrey;
}

.contact .header {
    flex-direction: column;
    justify-content: center;
}

/* Contact US */
.dual-sec {
    padding: 50px 0px;
    gap: 80px;
}

.contact-sec p {
    margin-bottom: 15px;
}

.contact-sec p i {
    margin-right: 10px;
}

.form {
    flex-direction: column;
}

.form-sec input {
    padding: 10px;
    width: 100%;
    height: 45px;
    outline: none;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-sec textarea {
    padding: 10px;
    width: 100%;
    height: 150px;
    outline: none;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-sec button {
    padding: 10px 20px;
    background-color: rgb(16, 16, 16);
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
}

/* Footer */
footer {
    padding: 10px 0px;
    background-color: rgb(82, 82, 82);
    color: #fff;
    font-weight: 400;
}

footer a {
    text-decoration: none;
    color: #fff;
}

#toggle-bar, #hamburger-btn {
    display: none;
}


/* Responsive */

@media (width < 860px)
{
    .navbar .navbar-links 
    {
        position: fixed;
        top: 50px;
        left: 0;
        height: 100%;
        display: block;
        width: 300px;
        padding-left: 30px;
        padding-top: 20px;
        background-color: rgb(82, 82, 82);
        left: -100%;
        transition: all ease 0.3s;
    }

    .navbar-links li {
        font-size: 18px;
        padding-top: 30px;
    }

    #hamburger-btn {
        font-size: 18px;
        color: #fff;
        display: block;
    }

    #toggle-bar {
        display: none;
    }

    #toggle-bar:checked~.navbar-links {
        left: 0;
    }

    .items .item-container
    {
        width:calc(100% / 2 - 15px);
    }

    .dual-sec
    {
        flex-direction: column;
    }

    .form-sec
    {
        width:100%;
    }

    .card-container
    {
        width:calc(100% / 2 - 15px);
    }

    .card-container img
    {
        height:100px;
        width:100%;
    }
}

@media (width < 560px) {
    .items .item-container
    {
        width:100%;
    }
    .card-container
    {
        width:100%;
    }
}